body{
    background-color: cornsilk;
}

h1{
    color: gold;
}
div{
    background-color: rgba(58, 164, 226, 0.5);
    display: inline-block;
    padding: 30px;
    font-size: 18px;
    font-family: tahoma;
}
